/* Google Font Lakki Reddy */
@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');


/* Wildcard Selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




/* Main styles */
body {
    background: url("../images/hogwarts.png") no-repeat center center/cover;
    width: 100%;

}

/* Header */
header {
    box-shadow: 0 2px 2px #5a181d;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    text-align: center;
    font-size: 40px;
    font-family: "Lakki Reddy", sans-serif;
    border:solid 2px;
    background-color: #ecad5f;
}

/* Quiz area */
h3 {
    text-align: center;
    padding: 20px;
    border: outset 5px;
    background-color: rgb(255 255 255 / 50%);
    border-radius: 2pc;
    font-weight: 900;
    color: #000000;
    font-style: italic;
}

#question {
    margin-top: 20px;
    margin-bottom: 20px;
}


#border {
    border: solid 2px;
    border-radius: 1pc;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 20px;
    background-color: rgb(0 0 0 / 30%);
}

.quiz_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.btn {
    margin: 10px 0;
    width: 100%;
    text-align: left;
    padding: 10px;
}

.btn:hover {
    background-color: #f5c17d;
}

.hide {
    display: none;

}

/* Start Quiz form */
#Welcome {
    margin: 70px 0px;
    background-color: #650d13;
    border: 2px solid;
    padding: 5px;
    text-align: center;
}

#form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ecad5f;
    color: black;
    border: solid 2px;
    border-radius: 1pc;
    padding: 10px;


}

#button_start {
    display: flex;
    justify-content: center;
}


#start_game {
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#start_game:hover {
    background-color: green;
}

.fname {
    margin-bottom: 5px;
}

.lname {
    margin-top: 5px;
}

.questions {
    font-size: 15px;
}

.label {
    font-size: 20px
}



/* Scores */
#scores {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.scores {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

p {
    border: solid;
    padding: 5px;
    margin: 4px;
    background-color: rgb(0 0 0 / 60%);
}

#incorrect_score {
    color: red
}

#correct_score {
    padding: 10px;
    color: #65a700;
}

/* Footer */
footer {
    display: flex;
    width: 100%;
    z-index: 98;
    padding: 30px 10px;
    justify-content: space-evenly;
    bottom: 0;
}

/* Media Querys */

/* For Form Media query max-height 700px */
@media (max-height: 700px) {
    .quiz_area {
        height: auto;
    }
}

/* Media Query 768px and up */
@media screen and (min-width: 768px) {

    /* Header */
    h1 {
        font-size: 60px;
    }

    /* Intro */
    #border {
        font-size: 30px;
    }

    #welcome {
        margin-bottom: 70px;
    }

    h2 {
        margin-bottom: 35px;
    }

    .questions {
        font-size: 25px;
    }

    .label {
        font-size: 30px;
    }




    /* Quiz_area */
    h3 {
        font-size: 30px;
    }

    /* Scores */
    .scores {
        font-size: 30px;
    }
}

@media screen and (min-width: 1024px) {

    /* Header */
    h1 {
        font-size: 70px;
    }

    /* Intro */
    #border {
        font-size: 35px;
    }

    #welcome {
        margin-bottom: 100px;
    }

    h2 {
        margin-bottom: 40px;
    }

    .questions {
        font-size: 30px;
    }

    /* Quiz_area */
    h3 {
        font-size: 40px;
    }

    #question {
        margin-bottom: 20px;
    }

    #border {
        padding: 40px;
    }

    .btn {
        font-size: 22px;
    }


    /* Scores */
    .scores {
        font-size: 40px;
    }

}

@media screen and (min-width: 2560px) {

    /* Header */
    h1 {
        font-size: 80px;
    }

    /* Intro */
    #border {
        font-size: 50px;

    }

    h2 {
        margin-bottom: 50px;
    }

    .questions {
        font-size: 40px;
    }

    .label {
        font-size: 40px;
    }

    /* Quiz_area */
    h3 {
        font-size: 50px;
    }

    #question {
        margin-bottom: 30px;
    }

    #border {
        padding: 50px;
    }

    .btn {
        font-size: 32px;
    }

    /* Scores */
    .scores {
        font-size: 50px;
    }

}