/* Google Font Lakki Reddy */
@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');


/* Wildcard Selector */
*{
padding: 0;
margin:0;
box-sizing:border-box;
}

/* Main styles */
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px;
}

.quiz_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
}

.btn {
    margin: 3rem;
    padding: 1rem;
}




