/* Google Font Lakki Reddy */
@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');


/* Wildcard Selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




/* Main styles */
body {
    background: url("../images/harry_potter_hero.webp") no-repeat center center/cover;
    width: 100%;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

h3 {
    text-align: center;
    padding: 20px;
}

.quiz_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.btn {
    margin: 3rem;
    padding: 1rem;
}

.scores {
    color: white;
    display: flex;
    justify-content: center;
}

#border {
    border: solid 2px;
    border-radius: 4pc;
}